 {% load static %}

      <nav class="topnav navbar navbar-light">

        <button type="button" class="navbar-toggler text-muted mt-2 p-0 mr-3 collapseSidebar">
          <i class="fe fe-menu navbar-toggler-icon"></i>
        </button>

      </nav>
      <aside class="sidebar-left border-right bg-white shadow" id="leftSidebar" data-simplebar>
        <a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
          <i class="fe fe-x"><span class="sr-only"></span></i>
        </a>
        <nav class="vertnav navbar navbar-light">
          <!-- nav bar -->
          <div class="w-100 mb-4 d-flex">
{#            <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="{% url 'dashboard' %}">#}
{#              <img src="{% static 'assets/images/logo.png' %}">#}
{#            </a>#}
          </div>
          <ul class="navbar-nav flex-fill w-100 mb-2">
            <li class="nav-item">
              <a aria-expanded="false" class="nav-link" href="{% url 'management:admin_dashboard' %}" >
                <i class="fe fe-home fe-16"></i>
                <span class="ml-3 item-text">Dashboard</span><span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>

          <ul class="navbar-nav flex-fill w-100 mb-2">
            <li class="nav-item w-100">
              <a class="nav-link" href="{% url 'management:admin_upcoming_tournaments-list' %}">
                <i class="fe fe-monitor fe-16"></i>
                <span class="ml-3 item-text">Upcoming Tournaments</span>
              </a>
            </li>
            <li class="nav-item w-100">
              <a class="nav-link" href="{% url 'management:admin_past_tournaments-list' %}">
                <i class="fe fe-tv fe-16"></i>
                <span class="ml-3 item-text">Past Tournaments</span>
              </a>
            </li>
             <li class="nav-item w-100">
              <a class="nav-link" href="{% url 'management:admin_tournament_registration' %}">
                <i class="fe fe-download fe-16"></i>
                <span class="ml-3 item-text">Tournament Registrations</span>
              </a>
            </li>
              <li class="nav-item w-100">
              <a class="nav-link" href="{% url 'management:admin_tournament_players' %}">
                <i class="fe fe-users fe-16"></i>
                <span class="ml-3 item-text">Tournament Players</span>
              </a>
            </li>

              <li class="nav-item w-100">
              <a class="nav-link" href="{% url 'management:admin_result_list' %}">
                <i class="fe fe-clipboard fe-16"></i>
                <span class="ml-3 item-text">Results List</span>
              </a>
            </li>

             <li class="nav-item w-100">
              <a class="nav-link" href="{% url 'management:admin_schools' %}">
                <i class="fe fe-book-open fe-16"></i>
                <span class="ml-3 item-text">Schools</span>
              </a>
            </li>

              <li class="nav-item w-100">
              <a class="nav-link" href="{% url 'management:admin_player_list' %}">
                <i class="fe fe-users fe-16"></i>
                <span class="ml-3 item-text">All Players</span>
              </a>
            </li>
{##}
{#          <li class="nav-item w-100">#}
{#              <a class="nav-link" href="{% url 'management:admin_users' %}">#}
{#                <i class="fe fe-log-out fe-16"></i>#}
{#                <span class="ml-3 item-text">Users</span>#}
{#              </a>#}
{#            </li>#}

            <li class="nav-item w-100">
              <a class="nav-link" href="{% url 'management:admin_logout' %}">
                <i class="fe fe-log-out fe-16"></i>
                <span class="ml-3 item-text">Log Out</span>
              </a>
            </li>


          </ul>
        </nav>
      </aside>