{% extends 'management/base.html' %}

{% load static %}
{% block content %}

<div class="wrapper">
 <main role="main" class="main-content">
     {% include 'management/navbar.html' %}

        <div class="container-fluid">
                {% if messages %}
        {% for message in messages %}
            <div class="col-12 mb-4">
              <div class="alert alert-{{ message.tags }} alert-dismissible fade show " style="text-color:blue" role="alert">
                {{ message }}
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                 </button>
                </div>
            </div>
        {% endfor %}
        {% endif %}
          <div class="row justify-content-center">
            <div class="col-12">
              <h2 class="mb-2 page-title">All Player Profiles</h2>
              <p class="card-text">This is a table containing all the players that have been registered into the system </p>



              <div class="row my-4">
                <!-- Small table -->
                <div class="col-md-12">
                  <div class="card shadow">
                    <div class="card-body">
{#                      <div class="form-group col-md-3" style="margin-left: 75%">#}
{#                            <input type="text" class="form-control" id="searchAsset" placeholder="Search by serial number">#}
{#                          </div>#}
                      <!-- table -->
                      <table class="table datatables" id="dataTable-1">
                        <thead>
                          <tr>
                            <th><strong>#</strong></th>
                            <th><strong>Full Name</strong></th>
                              <th><strong>Age</strong></th>
                              <th><strong>D.O.B</strong></th>
                              <th><strong>Position</strong></th>
                               <th><strong>Cell</strong></th>
                              <th><strong>National ID</strong></th>
                            <th><strong>School</strong></th>
                            <th><strong>Date Added</strong></th>
                               <th><strong>Action</strong></th>
                          </tr>
                        </thead>
                        <tbody id="tbody">
                        {% for player in players %}
                          <tr>
                            <td><img width="50" height="50" src="{{ player.passport_photo.url }}"></td>
                            <td>{{ player.first_name }} {{ player.middle_name }} {{ player.last_name }}</td>
                            <td>{{ player.age }}</td>
                            <td>{{ player.date_of_birth }}</td>
                            <td>{{ player.position }}</td>
                            <td>{{ player.cell }}</td>
                           <td>{{ player.national_id }}</td>
                           <td>{{ player.school.name }}</td>
                           <td>{{ player.created_at }}</td>
                             <td><button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="text-muted sr-only">Action</span>
                              </button>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="{% url 'management:admin_player_profile' player.id %}">View</a>
                                <a class="dropdown-item" href="#">Approve</a>
                              </div>
                            </td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div> <!-- simple table -->
              </div> <!-- end section -->
            </div> <!-- .col-12 -->
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->
      </main> <!-- main -->
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/simplebar.min.js' %}"></script>
    <script src='{% static 'js/daterangepicker.js' %}'></script>
    <script src='{% static 'js/jquery.stickOnScroll.js' %}'></script>
    <script src="{% static 'js/tinycolor-min.js' %}"></script>
    <script src="{% static 'js/config.js' %}"></script>
    <script src='{% static 'js/jquery.dataTables.min.js' %}'></script>
    <script src='{% static 'js/dataTables.bootstrap4.min.js' %}'></script>
    <script>
      $('#dataTable-1').DataTable(
      {
        autoWidth: true,
        "lengthMenu": [
          [16, 32, 64, -1],
          [16, 32, 64, "All"]
        ]
      });
    </script>
    <script src="{% static 'js/apps.js' %}"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->

    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag()
      {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-56159088-1');
    </script>


{% endblock content %}