{% load static %}

<!doctype html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="zxx"> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang="zxx"> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang="zxx"> <![endif]-->
<!--[if gt IE 8]><!-->	<html class="no-js" lang="zxx"> <!--<![endif]-->


<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Prince Edward Football</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'core/css/normalize.css' %}">
	<link rel="stylesheet" href="{% static 'core/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'core/css/transitions.css' %}">
	<link rel="stylesheet" href="{% static 'core/css/prettyPhoto.css' %}">
	<link rel="stylesheet" href="{% static 'core/css/swiper.min.css' %}">
	<link rel="stylesheet" href="{% static 'core/css/jquery-ui.css' %}">
	<link rel="stylesheet" href="{% static 'core/css/animate.css' %}">
	<link rel="stylesheet" href="{% static 'core/css/owl.theme.css' %}">
	<link rel="stylesheet" href="{% static 'core/css/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'core/css/customScrollbar.css' %}">
	<link rel="stylesheet" href="{% static 'core/css/icomoon.css' %}">
	<link rel="stylesheet" href="{% static 'core/css/main.css' %}">
	<link rel="stylesheet" href="{% static 'core/css/color.css' %}">
	<link rel="stylesheet" href="{% static 'core/css/responsive.css' %}">
	<script src="{% static 'core/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
</head>
<body>

{% block content %}


{% endblock content %}

	<script src="{% static 'core/js/vendor/jquery-library.js' %}"></script>
	<script src="{% static 'core/js/vendor/bootstrap.min.js' %}"></script>
	<script src="{% static 'core/js/customScrollbar.min.js' %}"></script>
	<script src="{% static 'core/js/owl.carousel.js' %}"></script>
	<script src="{% static 'core/js/isotope.pkgd.js' %}"></script>
	<script src="{% static 'core/js/prettyPhoto.js' %}"></script>
	<script src="{% static 'core/js/swiper.min.js' %}"></script>
	<script src="{% static 'core/js/jquery-ui.js' %}"></script>
	<script src="{% static 'core/js/countTo.js' %}"></script>
	<script src="{% static 'core/js/appear.js' %}"></script>
	<script src="{% static 'core/js/main.js' %}"></script>
</body>


</html>