		<footer id="tg-footer" class="tg-footer tg-haslayout">
			<div class="tg-footerbar">
				<div class="container">
					<span class="tg-copyright"><a target="_blank" href="https://www.linkedin.com/in/gift-mugaragumbo-91bb46202frf0/">Gift Mugaragumbo</a></span>
					<nav class="tg-footernav">
						<ul>
							<li><a href="{% url 'core:home' %}">Home</a></li>
							<li><a href="{% url 'core:tournaments' %}">Tournaments</a></li>
							<li><a href="{% url 'core:result' %}">Results</a></li>
							<li><a href="{% url 'core:gallery' %}">Gallery</a></li>
							<li><a href="https://peschool.co.zw/">Contact</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</footer>