{% include 'schools/base.html' %}
{% load static %}
{% block title %} {{ name }} {% endblock title %}

{% block content %}

<div class="wrapper">
{% include 'schools/navbar.html' %}
 <main role="main" class="main-content">
        <div class="container-fluid">
          <div class="row justify-content-center">

            <div class="col-12 col-xl-12">
              <h2 class="page-title">Register New Player</h2>
              <p class="text">This form is designed for registering of new players. To ensure the accuracy and effectiveness of your form, please fill out all required fields completely and truthfully as the details submitted will be verified.</p>
              <div class="card-deck">
              </div> <!-- / .card-desk-->
              <div class="row">
                <div class="col-md-12">
                  <div class="card shadow mb-4">
                    <div class="card-header">
                      <strong class="card-title">All fields are required.</strong>
                    </div>
                    <div class="card-body">
                      <form method="post" enctype="multipart/form-data" action="{% url 'schools:create_player' %}">
                          {% csrf_token %}
                          <div class="form-row">
                            <div class="form-group col-md-4">
                            <label for="inputPhone">First Name</label>
                            {{ form.first_name }}
                          </div>
                             <div class="form-group col-md-4">
                            <label for="warradasdnty">Middle Name</label>
                            {{ form.middle_name }}
                          </div>
                              <div class="form-group col-md-4">
                            <label for="warradasdsaasdnty">Surname</label>
                            {{ form.last_name }}
                          </div>
                          </div>
                        <div class="form-row">
                           <div class="form-group col-md-6">
                            <label for="inpusacsactValue">Game Position</label>
                            {{ form.position }}
                          </div>
                          <div class="form-group col-md-6">
                          <label for="inputCondsaacitasdion">Cell</label>
                          {{ form.cell }}
                        </div>
                          </div>
                          <div class="form-row">
                           <div class="form-group col-md-4">
                            <label for="inputValue">Date of Birth</label>
                            {{ form.date_of_birth }}
                          </div>
                          <div class="form-group col-md-4">
                          <label for="inputConditasdion">Nation ID Number</label>
                          {{ form.national_id }}
                        </div>
                            <div class="form-group col-md-4">
                          <label for="inputConcsdition">Birth Certificate Number</label>
                          {{ form.birth_certificate_number }}
                        </div>
                          </div>
                          <div class="form-row">
                           <div class="form-group col-md-6">
                            <label for="inasdputValue">Guardian Full Name</label>
                            {{ form.guardian_name }}
                          </div>
                          <div class="form-group col-md-3">
                          <label for="inpasutConditasdion">Guardian Relationship</label>
                          {{ form.guardian_relationship }}
                        </div>
                            <div class="form-group col-md-3">
                          <label for="inpuasscvtConcsdition">Guardian Contact</label>
                          {{ form.guardian_contact }}
                        </div>
                          </div>

                          <div class="form-row ">
                             <div class="form-group col-md-4">
                            <label for="inputCsaurrency">Present School</label>
                            {{ form.present_school }}
                          </div>
                              <div class="form-group col-md-4">
                            <label for="inputCurrsency">Year Enrolled</label>
                            {{ form.year_enrolled }}
                          </div>
                              <div class="form-group col-md-4">
                            <label for="inputsaCsurrsency">Previous School</label>
                            {{ form.previous_school }}
                          </div>
                          </div>
                        <div class="mt-3 form-row">
                          <div class="form-group col-md-3">
                          <label for="inputRoom">Passport Photo</label>
                          {{ form.passport_photo }}
                        </div>
                          <div class="form-group col-md-3">
                          <label for="inputRoom">National Id</label>
                          {{ form.national_id_image }}
                        </div>
                            <div class="form-group col-md-3">
                          <label for="inputRoom">Birth Certificate</label>
                          {{ form.birth_certificate }}
                        </div>
                         <div class="form-group col-md-3">
                            <label for="warranty">Grade 7 Result Slip</label>
                            {{ form.grade_7_result }}
                          </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit Form</button>
                      </form>
                    </div> <!-- /. card-body -->
                  </div> <!-- /. card -->
                </div> <!-- /. col -->
              </div> <!-- /. end-section -->
             </div> <!-- .col-12 -->
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->
      </main>

</div>

{% include 'schools/scripts.html' %}

{% endblock content %}