{% extends 'schools/base.html' %}
{% load  static %}

{% block content %}

    <div class="wrapper">
    {% include 'schools/navbar.html' %}

<main role="main" class="main-content">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="row align-items-center">
                <div class="col-md-3 text-center mb-5">
                    <img height="280px" width="240px" src="{{ player.passport_photo.url }}" alt="..." class="avatar-img">
                </div>
                <div class="col">
                  <div class="row align-items-center">
                    <div class="col-md-12">
                                    <h2 class="h3 mb-4 mt-3 page-title">{{ player.first_name }} {{ player.middle_name }} {{ player.last_name }}</h2>
                           <div class="row mt-3">
                            <div class="col-md-2">
                                <p>Age: <strong>{{ player.age }}</strong></p>
                            </div>
                            <div class="col-md-5">
                                <p>Date of Birth: <strong>{{ player.date_of_birth }}</strong></p>
                            </div>
                               <div class="col-md-5">
                                <p>Game Position: <strong>{{ player.position }}</strong></p>
                            </div>
                        </div>
                             <div class="row mt-3">
                            <div class="col-md-6">
                                <p>National ID Number: <strong>{{ player.national_id }}</strong></p>
                            </div>
                            <div class="col-md-6">
                                <p>Birth Certificate Number: <strong>{{ player.birth_certificate_number }}</strong></p>
                            </div>
                        </div>
                           <div class="row mt-3">
                            <div class="col-md-4">
                                <p>Guardian Name: <strong>{{ player.guardian_name }}</strong></p>
                            </div>
                            <div class="col-md-4">
                                <p>Guardian Relationship: <strong>{{ player.guardian_relationship }}</strong></p>
                            </div>
                               <div class="col-md-4">
                                <p>Guardian Contact: <strong>{{ player.guardian_contact }}</strong></p>
                            </div>
                        </div>
                           <div class="row mt-3">
                            <div class="col-md-4">
                                <p>Present School: <strong>{{ player.present_school }}</strong></p>
                            </div>
                            <div class="col-md-4">
                                <p>Year Enrolled: <strong>{{ player.year_enrolled }}</strong></p>
                            </div>
                               <div class="col-md-4">
                                <p>Previous School: <strong>{{ player.previous_school }}</strong></p>
                            </div>
                        </div>
                          <div class="row mt-3">
                            <div class="col-md-4">
                                <p>Approved: <strong>{{ player.approved }}</strong></p>
                            </div>
                            <div class="col-md-4">
                                <p>Date Added: <strong>{{ player.created_at }}</strong></p>
                            </div>
                               <div class="col-md-4">
                                <p>Last Modified: <strong>{{ player.updated_at }}</strong></p>
                            </div>
                        </div>
                            <div class="row mt-3">

                            <div class="col-md-4">
                                <button type="button" class="btn mb-2 btn-primary" data-toggle="modal" data-target="#birthCertificateModal">View Birth Certificate</button>
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn mb-2 btn-primary" data-toggle="modal" data-target="#nationalIdModal">View National ID</button>
                            </div>
                               <div class="col-md-4">
                                <button type="button" class="btn mb-2 btn-primary" data-toggle="modal" data-target="#grade7ResultModal">View Grade 7 Result</button>
                            </div>

                        </div>
                    </div>
                  </div>
                </div>
              </div>

            <!-- National ID Modal -->
<div class="modal fade" id="nationalIdModal" tabindex="-1" role="dialog" aria-labelledby="nationalIdModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="nationalIdModalLabel">National ID</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="{{ player.national_id_image.url }}" alt="National ID" style="width: 100%; height: auto;">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn mb-2 btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

            <!-- Birth Certificate Modal -->
<div class="modal fade" id="birthCertificateModal" tabindex="-1" role="dialog" aria-labelledby="birthCertificateModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="birthCertificateModalLabel">Birth Certificate</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="{{ player.birth_certificate.url }}" alt="Birth Certificate" style="width: 100%; height: auto;">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn mb-2 btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Grade 7 Result Modal -->
<div class="modal fade" id="grade7ResultModal" tabindex="-1" role="dialog" aria-labelledby="grade7ResultModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="grade7ResultModalLabel">Grade 7 Result</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="{{ player.grade_7_result.url }}" alt="Grade 7 Result" style="width: 100%; height: auto;">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn mb-2 btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


            <div class="row mb-4">
              <div class="col-md-12 col-lg-12">
                  <div class="card shadow">
                    <div class="card-header">
                      <strong class="card-title">Tournaments Played</strong>
                    </div>
                    <div class="card-body my-n2">
                        <table class="table table-striped table-hover table-borderless">
                        <thead>
                          <tr>
                            <th><strong>#</strong></th>
                            <th><strong>Name</strong></th>
                              <th><strong>Age Limit</strong></th>
                            <th><strong>Start Date</strong></th>
                            <th><strong>Time</strong></th>
                               <th><strong>Venue</strong></th>
                          </tr>
                        </thead>
                        <tbody id="tbody">
                        {% for tournament in tournaments %}
                          <tr>
                            <td>{{ tournament.id }}</td>
                            <td>{{ tournament.name }}</td>
                            <td>{{ tournament.age_limit }} years</td>
                            <td>{{ tournament.start_date }}</td>
                            <td>{{ tournament.time }}</td>
                               <td>{{ tournament.venue }}</td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
            </div>
            </div> <!-- /.col-12 -->
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->
      </main>
    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/simplebar.min.js' %}"></script>
    <script src='{% static 'js/daterangepicker.js' %}'></script>
    <script src='{% static 'js/jquery.stickOnScroll.js' %}'></script>
    <script src="{% static 'js/tinycolor-min.js' %}"></script>
    <script src="{% static 'js/config.js' %}"></script>
    <script src='{% static 'js/jquery.dataTables.min.js' %}'></script>
    <script src='{% static 'js/dataTables.bootstrap4.min.js' %}'></script>
    <script>
      $('#dataTable-1').DataTable(
      {
        autoWidth: true,
        "lengthMenu": [
          [16, 32, 64, -1],
          [16, 32, 64, "All"]
        ]
      });
    </script>
    <script src="{% static 'js/apps.js' %}"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->

    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag()
      {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-56159088-1');
    </script>

{% endblock content %}