{% extends 'schools/base.html' %}
{% load  static %}

{% block title %} {{ name }} {% endblock title %}
{% block content %}

    <div class="wrapper">
    {% include 'schools/navbar.html' %}

<main role="main" class="main-content">
        <div class="container-fluid">
                        {% if messages %}
        {% for message in messages %}
            <div class="col-12 mb-4">
              <div class="alert alert-{{ message.tags }} alert-dismissible fade show " style="text-color:blue" role="alert">
                {{ message }}
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                 </button>
                </div>
            </div>
        {% endfor %}
        {% endif %}
          <div class="row justify-content-center">
            <div class="col-12">
              <h2 class="h3 mb-4 page-title">{{ tournament.name }}</h2>
            {% if is_registered %}
                {% if reg.approved %}
                    <h5 class="float-right">Approved</h5>
                    {% else %}
                    <h5 class="float-right badge-warning">Pending approval</h5>
                    {% endif %}
            {% else %}
            <a> <button class="float-right btn btn-primary btn" data-toggle="modal" data-target="#verticalModal">Register for Tournament</button></a>
            {% endif %}
            <div class="modal fade" id="verticalModal" tabindex="-1" role="dialog" aria-labelledby="verticalModalTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="verticalModalTitle">Register for {{ tournament.name }}</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                              <form method="post" enctype="multipart/form-data" action="{% url 'schools:tournament_detail' tournament.id %}">
                                  {% csrf_token %}
                        <div class="modal-body">
                            <p> Please upload a clear and legible proof of payment for the participation fee.<br> Once your proof of payment has been verified, you will be notified through a phone call or email.<br> After verification, you will be granted access to register your players for the tournament.<br> If you have any questions or need further assistance, please contact our support team.</p>
                            <div class="form-group">
                                  {{ form.proof_of_payment }}
                                </div>
                        </div>
                            <div class="modal-footer">
                              <button type="button" class="btn mb-2 btn-secondary" data-dismiss="modal">Close</button>
                              <button  type="submit" class="btn mb-2 btn-primary">Register</button>
                            </div>
                              </form>
                          </div>
                        </div>
                      </div>
              <div class="row mt-5 align-items-center">
                <div class="col">
                  <div class="row align-items-center">
                    <div class="col-md-7">
                           <div class="row mt-1">
                            <div class="col-md-4">
                                <p>Date: <strong>{{ tournament.start_date }}</strong></p>
                            </div>
                            <div class="col-md-3">
                                <p>Time: <strong>{{ tournament.time }}</strong></p>
                            </div>
                               <div class="col-md-5">
                                <p>Venue: <strong>{{ tournament.venue }}</strong></p>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-md-6">
                                <p>Participation Fee: <strong>${{ tournament.participation_fee }}</strong></p>
                            </div>
                            <div class="col-md-6">
                                <p>Age Limit: <strong>{{ tournament.age_limit }}</strong></p>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="row mb-4">
                    <div class="col-md-7">
                      <p class="text-muted"> {{ tournament.description }} </p>
                    </div>
                  </div>
                </div>
              </div>
            <div class="row mb-4">
              <div class="col-md-12 col-lg-6">
                  <div class="card shadow">
                    <div class="card-header">
                      <strong class="card-title">Registered Schools</strong>
                    </div>
                    <div class="card-body my-n2">
                        <table class="table table-striped table-hover table-borderless">
                        <thead>
                          <tr>
                            <th><strong>#</strong></th>
                            <th><strong>Name</strong></th>
                              <th><strong>Phone</strong></th>
                            <th><strong>City</strong></th>
                          </tr>
                        </thead>
                        <tbody id="tbody">
                        {% for school in registered_schools %}
                          <tr>
                            <td>{{ school.id }}</td>
                            <td>{{ school.name }}</td>
                            <td>{{ school.phone }}</td>
                            <td>{{ school.city }}</td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                 <div class="col-md-12 col-lg-6">
                  <div class="card shadow">
                    <div class="card-header">
                      <strong class="card-title">Tournament Results</strong>
                    </div>
                    <div class="card-body my-n2">
                        <table class="table table-striped table-hover table-borderless">
                        <thead>
                          <tr>
                            <th><strong>#</strong></th>
                            <th><strong>Stage</strong></th>
                             <th><strong>School 1</strong></th>
                            <th><strong>Scoreline</strong></th>
                            <th><strong>School 2</strong></th>
                          </tr>
                        </thead>
                        <tbody id="tbody">
                        {% for result in tournament_results %}
                          <tr>
                            <td>{{ result.id }}</td>
                            <td>{{ result.stage }}</td>
                            <td>{{ result.school1.name }}</td>
                            <td> {{ result.school1_score }} - {{ result.school2_score }} </td>
                            <td>{{ result.school2.name }}</td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
            </div>
            {% if reg.approved %}
            <div class="row mb-4">
             <div class="col-md-12 col-lg-12">
                  <div class="card shadow">
                    <div class="card-header">
                      <strong class="card-title">Your Registered Players</strong>
                        <a href="{% url 'schools:register_players_for_tournament' tournament.id %}"> <button class="float-right btn btn-primary btn-sm">Register Players</button></a>
                    </div>
                    <div class="card-body my-n2">
                         <table class="table datatables" id="dataTable-1">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th><strong>Full Name</strong></th>
                              <th><strong>Age</strong></th>
                              <th><strong>D.O.B</strong></th>
                              <th><strong>Position</strong></th>
                              <th><strong>Cell</strong></th>
                             <th><strong>Approved</strong></th>
                          </tr>
                        </thead>
                        <tbody id="tbody">
                        {% for player in registered_players %}
                          <tr>
                            <td>{{ player.id }}</td>
                            <td>{{ player.first_name }} {{ player.middle_name }} {{ player.last_name }}</td>
                            <td>{{ player.age }}</td>
                            <td>{{ player.date_of_birth }}</td>
                            <td>{{ player.position }}</td>
                            <td>{{ player.cell }}</td>
                           <td>{{ player.approved }}</td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
            </div>
            {% endif %}
            </div> <!-- /.col-12 -->
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->
      </main>
    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/simplebar.min.js' %}"></script>
    <script src='{% static 'js/daterangepicker.js' %}'></script>
    <script src='{% static 'js/jquery.stickOnScroll.js' %}'></script>
    <script src="{% static 'js/tinycolor-min.js' %}"></script>
    <script src="{% static 'js/config.js' %}"></script>
    <script src='{% static 'js/jquery.dataTables.min.js' %}'></script>
    <script src='{% static 'js/dataTables.bootstrap4.min.js' %}'></script>
    <script>
      $('#dataTable-1').DataTable(
      {
        autoWidth: true,
        "lengthMenu": [
          [16, 32, 64, -1],
          [16, 32, 64, "All"]
        ]
      });
    </script>
    <script src="{% static 'js/apps.js' %}"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->

    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag()
      {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-56159088-1');
    </script>

{% endblock content %}